* {
    margin: 0;
    font-family: Poppins;
    text-align: center;
}
body {
    background-image: linear-gradient( aliceblue, rgb(123, 198, 255));
    padding-bottom: 100px;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}
.logo {
    width: 300px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    line-height: 60px;
    max-width: 810px;
}
h3 {
    font-weight: 600;
    font-style: italic;
}
@media screen and (max-width: 810px) {
    h1 {
        line-height: 40px;
        width: 95%;
    }
    h3 {
        width: 95%;
    }
}
.vsl-container {
    margin-top: 60px;
    margin-bottom: 20px;
}
@media screen and (max-width: 560px) {
    .vsl-container {
        width: 100%;
    }
    iframe {
        width: 100%;
    }
}
button {
    margin: 40px;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 800;
    border: none;
    background-color: rgb(106, 42, 255);
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(106, 42, 255, 0.637);
    cursor: pointer;
    transition: 0.15s;
}
button:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.505);
}